/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
}

input {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.game-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.game-item a:hover {
    color: #007BFF;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
}
